<?xml version="1.0" ?>
<model>
    <name>TankBot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Nipuna Jayakody</name>
        <email>nipuna.jc.jayakody@gmail.com</email>
    </author>
    <description>4 Wheel bot with rotating turrent for sensor - lidar or camera</description>
</model>
